In [345]:
import pandas as pd
import numpy as np 
import scipy as sp
import matplotlib.pyplot as plt

In [346]:
df = pd.read_csv('Customer_Buying_Patterns.csv')

In [347]:
df.head()

,CustomerMobileNo,BillNo,BillDate,CategoryName,ProductName,Qty,MRP,Discount,Amount
0,6263895415,18122200036,22-12-2018,BISCUITS / CAKE / CHIPS / SNAKS,BRITANNIA CAKE PINEAPPLE PLUNGE 15RS,2,15.0,0.00,30.00
1,6263895415,18122200036,22-12-2018,BISCUITS / CAKE / CHIPS / SNAKS,LAYS SPANISH TOMATO TANGO 10,1,10.0,0.05,9.95
2,6263895415,18122200036,22-12-2018,COOL DRINKS / FRUIT JUICES / MILK SHAKES / SA...,STING,2,30.0,3.00,57.00
3,6281123186,19021600010,16-02-2019,ROOM FRESHENER,GLADE WILD LAVENDER 300 ML,1,150.0,3.00,147.00
4,6300037707,18112600011,26-11-2018,BISCUITS / CAKE / CHIPS / SNAKS,GOOD DAY 5,1,5.0,0.20,4.80

In [348]:
df["CategoryName"].value_counts().head(5)

BISCUITS / CAKE / CHIPS / SNAKS                         1447
CHOCOLATE                                               1265
COOL DRINKS / FRUIT JUICES / MILK SHAKES  / SARBATHS     722
SPICES                                                   413
KIRANA                                                   395
Name: CategoryName, dtype: int64

In [349]:
df['ProductName'] = df['ProductName'].astype("category")

In [350]:
df['ProductName'] = df['ProductName'].cat.codes

In [351]:
df['ProductName'] = df['ProductName'].astype(int)

In [352]:
df['CategoryName'] = df['CategoryName'].astype("category")

In [353]:
df['CategoryName'] = df['CategoryName'].cat.codes

In [354]:
df['CategoryName'] = df['CategoryName'].astype(int)

In [355]:
df['BillDate'] = df['BillDate'].astype("category")
df['BillDate'] = df['BillDate'].cat.codes
df['BillDate'] = df['BillDate'].astype(int)

In [356]:
df.dtypes

CustomerMobileNo      int64
BillNo                int64
BillDate              int64
CategoryName          int64
ProductName           int64
Qty                   int64
MRP                 float64
Discount            float64
Amount              float64
dtype: object

In [357]:
from scipy import stats
zscore = np.abs(stats.zscore(df["CategoryName"].value_counts().head(5)))
print(zscore)

[1.37837076 0.9592871  0.2910559  1.00257706 1.0440249 ]

In [358]:
threshold = 3
print(np.where(zscore > 3))

(array([], dtype=int64),)

In [359]:
print(zscore[4])

1.0440248978182773

In [360]:
x = df["CategoryName"].value_counts().head(5)

In [361]:
x

1     1447
2     1265
4      722
33     413
16     395
Name: CategoryName, dtype: int64

In [362]:
df.head()

,CustomerMobileNo,BillNo,BillDate,CategoryName,ProductName,Qty,MRP,Discount,Amount
0,6263895415,18122200036,96,1,237,2,15.0,0.00,30.00
1,6263895415,18122200036,96,1,917,1,10.0,0.05,9.95
2,6263895415,18122200036,96,4,1514,2,30.0,3.00,57.00
3,6281123186,19021600010,66,28,657,1,150.0,3.00,147.00
4,6300037707,18112600011,111,1,674,1,5.0,0.20,4.80

In [363]:
y=df["CategoryName"].unique()

In [364]:
y

array([ 1,  4, 28,  3, 27,  2,  6,  7,  9, 11, 19, 25, 29, 31, 39, 42, 40,
       23, 33, 38, 17, 14, 30, 16, 32,  5, 10, 20, 13, 35, 18, 41, 15, 24,
       21, 37, 12, 36, 26,  0, 34, 22,  8])

In [365]:
df.dtypes

CustomerMobileNo      int64
BillNo                int64
BillDate              int64
CategoryName          int64
ProductName           int64
Qty                   int64
MRP                 float64
Discount            float64
Amount              float64
dtype: object

In [366]:
df.corr()['Discount'].sort_values(ascending = False)

Discount            1.000000
MRP                 0.642488
Amount              0.627456
BillNo              0.047691
CategoryName        0.043303
ProductName         0.038259
Qty                 0.007544
CustomerMobileNo   -0.000890
BillDate           -0.004007
Name: Discount, dtype: float64